<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en" state="loading">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />

    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0001, minimum-scale=1.0001, maximum-scale=1.0001, user-scalable=no"
    />

    <!-- import the webpage's stylesheet -->

    <link rel="stylesheet" href="./css/lib/bs.css" />
    <link rel="stylesheet" href="./css/lib/fluent.css" />
    <link rel="stylesheet" href="./css/bs-theme.css" />
    <link rel="stylesheet" href="./css/tippy-theme.css" />
    <link rel="stylesheet" href="./css/custom.css" />
    <link rel="stylesheet" href="./css/loader.css" />
  </head>
  <body>
    <gtp>
      <verb-0 title="Translating..."></verb-0>
      <verb-1 title="Please select one the following value in the 'From' box: "></verb-1>
      <verb-2 title="Detect language"></verb-2>
      <verb-3 title="English" short="en"></verb-3>
      <verb-4 title="<%-bon%>"></verb-4>
      <div class="loader bar">
        <!-- google now -->
        <div class="blue"></div>
        <div class="yellow"></div>
        <div class="green"></div>
        <div class="red"></div>
      </div>

      <data id="content" style="display: none;">
        <%-data%>
      </data>
    </gtp>

    <placeholder></placeholder>

    <div id="content-wrapper">
      <a href="./" id="templateLink" style="display:none;"></a>
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand" id="323"></h3>
            <nav class="nav nav-masthead justify-content-center">
              <nav-link>
                <a
                  class="nav-link active"
                  id="nav_home"
                  onclick="nav(this)"
                  role="button"
                ></a>
              </nav-link>
              <nav-link>
                <a
                  class="nav-link"
                  id="nav_features"
                  href="~/de/test"
                  onclick="nav(this)"
                ></a>
              </nav-link>
              <nav-link>
                <a
                  class="nav-link"
                  id="nav_test"
                  href="~/de/tesst"
                  onclick="nav(this)"
                ></a>
              </nav-link>
            </nav>
          </div>
        </header>

        <section>
          <img id="img_cat" src="https://placekitten.com/700/300" />
          <p id="text_cat"></p>
        </section>

        <main role="main" class="inner cover">
          <h1 class="cover-heading" id="1"></h1>
          <p class="lead" id="2"></p>
          <p class="lead">
            <a href="./?test" class="btn btn-lg btn-secondary" id="3"></a>
          </p>
        </main>

        <footer class="mastfoot mt-auto">
          <div class="inner">
            <p>
              <span id="4"></span
              ><!-- NEVER LEAVE EMPTY ELEMENTS AROUND HERE, ALWAYS SPAN THEM! -->
              <br />
              <a id="5" href="https://getbootstrap.com/"></a><br />
              <a id="6" href="https://twitter.com/mdo"></a><br />
            </p>
          </div>
        </footer>
      </div>
    </div>
  </body>
  <script src="./js/lib/popper.js"></script>

  <script src="./js/lib/tippy.js"></script>
  <script src="./js/lib/cash.js"></script>
  <script src="./js/script.js"></script>
  <script src="./js/client.js"></script>
</html>
