<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch" />
    <link
      id="favicon"
      rel="icon"
      href="https://glitch.com/edit/favicon-app.ico"
      type="image/x-icon"
    />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- import the webpage's stylesheet -->

    <link rel="stylesheet" href="./css/lib/bs.css" />
    <link rel="stylesheet" href="./css/lib/fluent.css" />
    <link rel="stylesheet" href="./css/bs-theme.css" />
    <link rel="stylesheet" href="./css/tippy-theme.css" />
    <link rel="stylesheet" href="./css/custom.css" />
  </head>
  <body>
    <a href="./" id="templateLink" style="display:none;"></a>
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <nav-link>
              <a
                class="nav-link active"
                title="go to home"
                x-title="go to home"
                onclick="nav(this)"
                role="button"
                >Home</a
              >
            </nav-link>
            <nav-link>
              <a
                class="nav-link"
                title="go to features"
                x-title="go to features"
                href="~/de/test"
                onclick="nav(this)"
                >Features</a
              >
            </nav-link>
            <nav-link>
              <a
                class="nav-link"
                title="go to features"
                x-title="go to features"
                href="~/de/tesst"
                onclick="nav(this)"
                >Contact</a
              >
            </nav-link>
          </nav>
        </div>
      </header>

      <data id="content" style="display: nonke;">
        { "1": { c: "This is a test·", a: "", p: "", t:"" }, "2": {c: "This is
        another test·" }}
      </data>

      <main role="main" class="inner cover">
        <h1 class="cover-heading" id="1"></h1>
        <p class="lead" id="2"></p>
        <p class="lead">
          <a href="./?test" class="btn btn-lg btn-secondary" id="3"></a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p id="4">
            <a id="5" href="https://getbootstrap.com/"></a>
            <a id="6" href="https://twitter.com/mdo"></a>.
          </p>
        </div>
      </footer>
    </div>
  </body>
  <script src="./js/lib/popper.js"></script>

  <script src="./js/lib/tippy.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/cash/4.1.5/cash.min.js"></script>
  <script src="./js/script.js"></script>
  <script src="./js/client.js"></script>
</html>
