.color-goog-orange {
  color: #dd4b39; }

.color-goog-gray {
  color: #333; }

.color-goog-blue {
  color: #4285f4; }

/* hide google crap */
#google-infowindow,
.gmnoprint {
  display: none; }

#content-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-y: scroll; }
  #content-wrapper::-webkit-scrollbar {
    width: 12px; }
  #content-wrapper::-webkit-scrollbar-track {
    background: #E0E0E0; }
  #content-wrapper::-webkit-scrollbar-thumb {
    background: #9E9E9E; }
  #content-wrapper::-webkit-scrollbar-thumb:hover {
    background: #BDBDBD; }

body {
  position: absolute;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  padding: 1px 0; }
