html[state="loading-done"] placeholder,
html[state="loading-done-m"] placeholder {
  display: none; }

html[state="loading-held-m"] svg {
  top: 100px !important;
  left: 22px !important; }

html[state="loading-held"],
html[state="loading-held-m"] {
  /* anim from https://angrytools.com/css/animation/*/
  background: rgba(255, 0, 0, 0.1); }
  html[state="loading-held"] svg,
  html[state="loading-held-m"] svg {
    top: 0;
    left: 245px;
    position: fixed;
    animation-name: angry-animation;
    animation-duration: 1.5s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal; }

@keyframes angry-animation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  20% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  50% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px); }
  80% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
  html[state="loading-held"] placeholder,
  html[state="loading-held-m"] placeholder {
    font-size: 4vw !important;
    background: transparent !important; }
  html[state="loading-held"] gtp,
  html[state="loading-held-m"] gtp {
    display: none !important; }

html[state="loading"],
html[state="loading-held"],
html[state="loading-held-m"] {
  height: 100%; }
  html[state="loading"] gtp,
  html[state="loading-held"] gtp,
  html[state="loading-held-m"] gtp {
    /* BAR */ }
    html[state="loading"] gtp *,
    html[state="loading-held"] gtp *,
    html[state="loading-held-m"] gtp * {
      padding: 0;
      margin: 0;
      box-sizing: inherit; }
    html[state="loading"] gtp .red,
    html[state="loading-held"] gtp .red,
    html[state="loading-held-m"] gtp .red {
      background-color: #DB4437; }
    html[state="loading"] gtp .yellow,
    html[state="loading-held"] gtp .yellow,
    html[state="loading-held-m"] gtp .yellow {
      background-color: #F4B400; }
    html[state="loading"] gtp .green,
    html[state="loading-held"] gtp .green,
    html[state="loading-held-m"] gtp .green {
      background-color: #0F9D58 #0F9D58; }
    html[state="loading"] gtp .blue,
    html[state="loading-held"] gtp .blue,
    html[state="loading-held-m"] gtp .blue {
      background-color: #4285F4; }
    html[state="loading"] gtp .loader,
    html[state="loading-held"] gtp .loader,
    html[state="loading-held-m"] gtp .loader {
      position: absolute;
      margin: 0 auto 3rem auto;
      overflow: hidden; }
    html[state="loading"] gtp .loader > div,
    html[state="loading-held"] gtp .loader > div,
    html[state="loading-held-m"] gtp .loader > div {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }
    html[state="loading"] gtp .bar,
    html[state="loading-held"] gtp .bar,
    html[state="loading-held-m"] gtp .bar {
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0.1; }
    html[state="loading"] gtp .loader.bar > div,
    html[state="loading-held"] gtp .loader.bar > div,
    html[state="loading-held-m"] gtp .loader.bar > div {
      animation: loading-bar 2s infinite backwards ease-out; }
    html[state="loading"] gtp .bar > div,
    html[state="loading-held"] gtp .bar > div,
    html[state="loading-held-m"] gtp .bar > div {
      transform: scaleX(1); }
    html[state="loading"] gtp .loader.bar div:nth-child(1),
    html[state="loading-held"] gtp .loader.bar div:nth-child(1),
    html[state="loading-held-m"] gtp .loader.bar div:nth-child(1) {
      animation-delay: -1.5s; }
    html[state="loading"] gtp .loader.bar div:nth-child(2),
    html[state="loading-held"] gtp .loader.bar div:nth-child(2),
    html[state="loading-held-m"] gtp .loader.bar div:nth-child(2) {
      animation-delay: -1s; }
    html[state="loading"] gtp .loader.bar div:nth-child(3),
    html[state="loading-held"] gtp .loader.bar div:nth-child(3),
    html[state="loading-held-m"] gtp .loader.bar div:nth-child(3) {
      animation-delay: -0.5s; }
    html[state="loading"] gtp .loader.bar div:nth-child(4),
    html[state="loading-held"] gtp .loader.bar div:nth-child(4),
    html[state="loading-held-m"] gtp .loader.bar div:nth-child(4) {
      animation-delay: 0s; }

@keyframes loading-bar {
  0% {
    transform: scaleX(0);
    z-index: 15; }
  22% {
    transform: scaleX(0);
    z-index: 15; }
  50% {
    transform: scaleX(1); }
  90% {
    transform: scaleX(1);
    z-index: 1; }
  100% {
    transform: scaleX(1);
    z-index: 0; } }
  html[state="loading"] #content-wrapper,
  html[state="loading-held"] #content-wrapper,
  html[state="loading-held-m"] #content-wrapper {
    display: none; }
  html[state="loading"] placeholder.rtl,
  html[state="loading-held"] placeholder.rtl,
  html[state="loading-held-m"] placeholder.rtl {
    background: linear-gradient(to left, #eeeeee 10%, #dddddd 18%, #eeeeee 33%);
    animation-name: placeHolderShimmerRtl !important; }
  html[state="loading"] placeholder,
  html[state="loading-held"] placeholder,
  html[state="loading-held-m"] placeholder {
    text-align: center;
    flex-direction: column;
    /*border: 1px solid black;*/
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    display: flex;
    height: calc(100% - 43px);
    width: calc(100% - 32px);
    margin: 1px 0;
    position: fixed;
    background-color: #eee;
    animation-duration: 1.25s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eeeeee 10%, #dddddd 18%, #eeeeee 33%); }

@keyframes placeHolderShimmer {
  0% {
    background-position: -468px 0; }
  100% {
    background-position: 468px 0; } }

@keyframes placeHolderShimmerRtl {
  0% {
    background-position: 468px 0; }
  100% {
    background-position: -468px 0; } }
