.tippy-tooltip.test-theme {
  background-color: rgba(0, 0, 0, 0.9); }
  .tippy-tooltip.test-theme[data-placement^="top"] .tippy-arrow {
    border-top-color: rgba(255, 255, 255, 0.9); }
  .tippy-tooltip.test-theme[data-placement^="right"] .tippy-arrow {
    border-right-color: rgba(255, 255, 255, 0.9); }
  .tippy-tooltip.test-theme[data-placement^="bottom"] .tippy-arrow {
    border-bottom-color: rgba(255, 255, 255, 0.9); }
  .tippy-tooltip.test-theme[data-placement^="left"] .tippy-arrow {
    border-left-color: rgba(255, 255, 255, 0.9); }
  .tippy-tooltip.test-theme-backdrop {
    background-color: rgba(0, 0, 0, 0.9); }
  .tippy-tooltip.test-theme-svg-arrow {
    fill: rgba(255, 255, 255, 0.9); }
